body {
    background: #4B0082;    
}

aside {
    float: left;
    background: #181818;
    width: 30%;
    height: 100%;
    padding: 5%;
    color: #fff;
    border-right: 5px solid #4d4d44;
}
aside h3 {
    margin-top: 50px;
    font-size: 28 px;
}

aside ul {
    list-style: none;
}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
}
main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75;
}

main .features h1 {
    font-size: 50 px;
}

main .features p {
    max-width: 400 ; margin: 20px auto;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}