{% extends 'send_message/layout.html' %}
{% block title %}Чат{% endblock %}

{% block content %}
    <div class="features" >
        <h1> Чатик</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} <br>
            <span> {{ error }} </span>
            <button class="btn btn-success" type="submit" >Отправить сообщение</button>
        </form>
    </div>
{% endblock %}